<template>
  <Layout>

  <!-- Hero -->

  <div class="home-hero features-hero">
    <!-- Text -->
    <div class="container">
      <div class="features-hero__text">
        <p data-aos="fade-up" data-aos-delay="300" data-aos-anchor="#homeHero">UBports Present:</p>
        <h1 class="h2" data-aos="fade-up" data-aos-delay="150" data-aos-anchor="#homeHero">Ubuntu Touch OTA13</h1>
        <div data-aos="fade-up" data-aos-delay="450" data-aos-anchor="#homeHero">
        </div>
      </div>
      <div class="features-hero__img">
        <img data-aos="fade-left" data-aos-anchor="#featuresMedia2" data-aos-delay="300" src="/img/features/phone.png" alt="hero-img">
      </div>
    </div>
  </div>

  <!-- What's new? -->

  <div class="features-new">
    <div class="container">
      <div class="intro">
        <h2 class="h2" data-aos="fade-up" data-aos-delay="150" data-aos-anchor="">What have been upgraded?</h2>
        <p data-aos="fade-left" data-aos-anchor="#features-new" data-aos-delay="300">In this update we have been focusing on merging work left unmerged during the OTA-12 cycle. </p>
        <button class="btn btn-primary">Read more ..</button>
      </div>
      <ul class="list">
        <li><img src="/img/features/check.png" class="check"><p>ARM64</p></li>
        <li><img src="/img/features/check.png" class="check"><p>Halium (Android compatibility layer) 5/7</p></li>
        <li><img src="/img/features/check.png" class="check"><p>Halium 8+ (Android compatibility layer)</p></li>
      </ul>
    </div>
  </div>

  <!-- Friends and family -->

  <div class="features-community">
  </div>

  <MediaFeature
    v-for="( feature, index ) in this.$page.allFeature.edges.map((n) => n.node)"
    :key="index"
    :image-left="index % 2 ? true : false"
    :context="'features'"
    :feature-content="feature"
  />

  </Layout>
</template>

<page-query>
query {
  allFeature (filter:  { displayInFeatures: { eq: true }}, sortBy: "priority", order: DESC) {
    edges {
      node {
        id
        title
        link { label target }
        image
        text { content }
      }
    }
  }
}
</page-query>

<script>
import MediaFeature from "~/components/global/MediaFeature.vue";

import "aos/dist/aos.css";

import AOS from "aos";

export default {
  metaInfo() {
    return {
      title: "Features",
      meta: [
        {
          name: "description",
          content: `Discover the OS that cares about its users`,
        },
        {
          property: "og:title",
          content: `Discover the OS that cares about its users`,
        },
      ],
    };
  },
  components: {
    MediaFeature,
  },
  created() {
    if (process.isClient) {
      AOS.init({
        duration: 700,
        easing: "ease",
        once: true,
        offset: 200,
        disable: window.innerWidth < 992,
      });
    }
  },
};
</script>
