<template>
  <Layout>
  <div>
  <!-- Hero -->
  <div id="homeHero" class="home-hero">
    <div class="container">
      <!-- Text -->
      <div class="home-hero__text">
        <h1 class="h2" data-aos="fade-up" data-aos-delay="150" data-aos-anchor="#homeHero">We are building an ethical operating system for  smartphones.</h1>
        <p data-aos="fade-up" data-aos-delay="300" data-aos-anchor="#homeHero">With the Supported of The UBports community.</p>
        <div data-aos="fade-up" data-aos-delay="450" data-aos-anchor="#homeHero">
          <button class="btn btn-primary">Check Devices</button>
        </div>
        <div class="home-hero__visits" data-aos="fade-up" data-aos-delay="600" data-aos-anchor="#homeHero">
          <h3 class="h2">+350</h3>
          <h3 class="h4 light ml-4">Volunteers worldwide working together to achieve that mission.</h3>
        </div>
      </div>
      <!-- Img -->
      <div class="home-hero__img">
        <img src="/img/homepage/hero.jpg" alt="hero-img" title="Yumi is our community mascot">
      </div>
    </div>
  </div>

  <!-- Devices -->
  <div class="home-devices">
    <div class="container">
      <!-- Text -->
      <div class="home-devices__text">
        <h2 class="h3">Foundation Core Devices</h2>
      </div>
      <!-- Img -->
      <div class="home-devices__img">
        <!-- Device -->
        <a href="/device/pinephone" class="device">
          <p>PinePhone</p>
          <img src="/img/homepage/PinePhone.svg" alt="device-img">
        </a>
        <a href="/device/FP2" class="device">
          <p>Fairphone</p>
          <img src="/img/homepage/Fairphone.svg" alt="device-img">
        </a>
        <a href="/device/yggdrasil" class="device">
          <p>Volla</p>
          <img src="/img/homepage/Volla.svg" alt="device-img">
        </a>
        <a href="/device/hammerhead" class="device">
          <p>Nexus 5</p>
          <img src="/img/homepage/Nexus.svg" alt="device-img">
        </a>
        <a href="/device/bacon" class="device">
          <p>OnePlus One</p>
          <img src="/img/homepage/OnePlusOne.svg" alt="device-img">
        </a>
      </div>
    </div>
  </div>

<!--  <DevicesSlider/>-->

  <MediaFeature
    v-for="( feature, index ) in this.$page.allFeature.edges.map((n) => n.node)"
    :key="index"
    :image-left="index % 2 ? true : false"
    :context="'home'"
    :feature-content="feature"
  />

  <PostsSlider/>
  </div>
  </Layout>
</template>

<page-query>
query {
  allFeature (filter:  { displayInHome: { eq: true }}, sortBy: "priority", order: DESC) {
    edges {
      node {
        id
        title
        link { label target }
        image
        text { content }
      }
    }
  }
}
</page-query>

<script>
//import DevicesSlider from "~/components/global/DevicesSlider.vue";
import PostsSlider from "~/components/global/PostsSlider.vue";
import MediaFeature from "~/components/global/MediaFeature.vue";

import "aos/dist/aos.css";

import AOS from "aos";

export default {
  metaInfo() {
    return {
      meta: [
        {
          name: "description",
          content: `Discover the OS that cares about its users`,
        },
        {
          property: "og:title",
          content: `Discover the OS that cares about its users`,
        },
      ],
    };
  },
  components: {
    //    DevicesSlider,
    PostsSlider,
    MediaFeature,
  },
  created() {
    if (process.isClient) {
      AOS.init({
        duration: 700,
        easing: "ease",
        once: true,
        offset: 200,
        disable: window.innerWidth < 992,
      });
    }
  },
};
</script>
