<template>
  <Layout>
  <div>

  <Breadcrumb
    :page-path="$route.path"
  />

  <!-- Page Content -->
  <div class="page-content">
    <div class="container">
      <!-- Content -->
      <div class="content">
        <h1 class="h1">Ubuntu Touch Community Rules</h1>
        <p>We live in a world that is rapidly taking away one of our core values: ‘freedom of choice’. Freedom does not
          exist without real choice. This especially applies for the part that is quickly becoming more and more central
          in our lives - our mobile devices. These are not designed with our best interests in mind, but yet they are so
          essential in the way we now conduct our lives. The mobile market is dominated by a few big companies who, in
          return for our data--how, where and what we communicate--let us use their services and make use dependent.
          These companies control the complete chain, from manufacturers to employees, from telecom providers to
          subcontractors, from developers to end-users. One way or another, it will affect you.</p>
        <p>We firmly believe in an open, transparent and secure world. Where you can choose which mobile platform you
          want to use, independent of the hardware you buy. Where you can choose how and which data you want to share
          with whom, without doing concessions. In a world where there is freedom of choice at every level;
          manufacturers should have the choice to pick their components without any limitations, developers shouldn’t
          have to worry about censorship or the powerful agendas of monopolies and users must always be in charge of
          their online identity.</p>
        <p>We want to offer a new option to choose from for everybody: a beautiful, free and open source mobile
          operating system. We believe that the timing is right, the awareness of the current lack of choice and
          dominance in the mobile market is higher then ever. The complete chain is ready to join forces and shift back
          towards freedom of choice. Now is the time to get involved. By working together we can start a revolution that
          will result in a healthy regime change which puts the control back in the people's hands.</p>
        <p>We need your help to achieve this. Join our growing community of volunteers and passionate people across the
          world and support the Foundation.</p>
        <p>Help in whatever way you can: be part of our revolution!</p>
        <p>The choice is yours, <br>Ubuntu Touch</p>
      </div>
      <!-- Read More -->
      <div class="read-more">
        <h2 class="h3 light">More to read</h2>
        <ul>
          <li>
            <a href="#">Privacy Concern</a>
          </li>
          <li>
            <a href="#">Transparency</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  </div>
  </Layout>
</template>

<script>
import Breadcrumb from "~/components/global/Breadcrumb.vue";

export default {
  components: {
    Breadcrumb,
  },
};
</script>
